html {
  height: 100%;
}
html body {
  min-height: 100%;
  font-family: "Roboto", sans-serif;
}

html {
  height: 100%;
}
html body {
  min-height: 100%;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1440px;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 7vw;
  margin: 0 auto;
}
.container .art {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 50%;
}
.container .art__img-cnt {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  margin-right: 6.59722vw;
}
.container .art__img-cnt__img {
  width: 35vw;
  height: auto;
}
.container .art__content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.container .art__tittle {
  font-size: clamp(24px, 7.7vmin, 42px);
  font-weight: 700;
  margin-top: 0.85em;
}
.container .art__text {
  line-height: clamp(22px, 2.9vh, 24px);
  font-size: clamp(12px, 4vmin, 16px);
  margin-top: 1.666vw;
  width: 26vw;
  font-weight: 300;
  font-style: normal;
  color: #121212;
}
.container .art__btn {
  background-color: #E4C1AE;
  color: white;
  border: none;
  border-radius: 32px;
  padding: 16px 40px;
  font-weight: 700;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  margin-top: 0.5em;
}
.container .art__btn:hover {
  cursor: pointer;
  background-color: #e7c7b6;
}
.container .modal-wrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(18, 18, 18, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
}
.container .modal-wrap__popup {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 85%;
  max-width: 920px;
  background-color: #bfb5b5;
  padding: clamp(10px, 6.5vmin, 40px) clamp(24px, 10vw, 95px);
}
.container .modal-wrap__tittle {
  font-size: clamp(24px, 7.7vmin, 42px);
  font-weight: 700;
  margin: 16px 0;
  cursor: pointer;
}
.container .modal-wrap__info {
  line-height: 24px;
  margin-top: clamp(16px, 2vw, 24px);
  margin-bottom: clamp(16px, 2vw, 24px);
  cursor: pointer;
}
.container .modal-wrap__closeBtn {
  position: absolute;
  top: 30px;
  background-color: rgba(15, 15, 15, 0.5);
  color: white;
  right: clamp(30px, 5vw, 35px);
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  width: 21px;
  height: 21px;
}
.container .modal-wrap__closeBtn:hover {
  cursor: pointer;
  background-color: rgba(92, 92, 92, 0.5);
}
.container .modal-wrap__resetBtn {
  margin: 10px 0 16px 0;
  background-color: magenta;
  color: #121212;
  border: none;
  border-radius: 32px;
  padding: 16px 40px;
  font-weight: 700;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.container .modal-wrap__resetBtn:hover {
  cursor: pointer;
  background-color: #ff99ff;
}

@media only screen and (max-width: 850px) {
  .container .art {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .art img {
    max-height: 100%;
    max-width: 150%;
  }
  .art__content {
    margin: 0;
  }
  .modal-wrap__popup {
    max-width: 150%;
    margin: 0 auto;
  }
}/*# sourceMappingURL=main.css.map */