.btn{
    width: 128px;
    height: 48px;
    font-weight: 700;
    color: white;
    border-radius: 32px;
    background-color: $color-btn-primary;
    border: none;
    &:hover{
        cursor: pointer;
    }
}
.resetButton{
    background-color: tomato;
    padding: 15px;
    margin: 15px 15px;
    opacity: 0;
    &:hover{
        cursor: pointer;
    }
    &.active{
        opacity: 1;
    }
}