@import '../settings/colors';
@import '../settings/mixins';

.popup{
    
    background-color: white;
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 400px;
    max-width: 75%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    transition: 100ms ease-in-out;
    border-radius: 15px;
    &.active{
        transform: translate(-50%, -50%) scale(1);
    }
    @include desktop{
        width: 920px;
        height: 210px;
        border-radius: 0;
    }
    .popop-title{
        color: $color-black;
        font-size: 42px;
        font-weight: 700;
        line-height: 120%;
        padding: 10px 12px;
        @include desktop{
            padding: 56px 0 24px 96px;
        
        }
    }
    .close-button{
        cursor: pointer;
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 35px;
        font-weight: bold;
        position: absolute;
        right: 5px;
        top: 5px;
        @include desktop{
            right: 46px;
            top: 48px;
        }
    }
    .popup-body{
        padding: 0 12px;
        
        .strong{
            font-weight: 700;
        }
        @include desktop{
            padding: 0 95px;
        }
    }
}
.black-transparent{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: .5);
    pointer-events: none;
    transition: 100ms ease-in-out;
    &.active{
        pointer-events: all;
        opacity: 1;
    }
    
}