article {
    display: flex;
    justify-content: space-around;

    @media (min-width: 992px) and (max-width: 3500px) {

        .img-hero,
        .content {
            margin: 2em;
        }

        .content {
            margin-left: 8em;
            max-width: 500px;
        }
    }

    @media (min-width: 768px) and (max-width: 991px) {
        .content {
            margin-left: 5em;
            max-width: 380px;
        }
        .img-hero {
            margin-left: 1em;
        }
    }

    @media (max-width: 767px) {
        flex-direction: column;

        .content {
            max-width: 100%;
            margin: 1.5em;
        }
    }

    picture {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .img-hero {
        max-width: 100%;
        vertical-align: middle;
        border: 1px solid black;
    }

    .content {
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    #open {
        @extend %button;
        width: 128px;
        height: 48px;
        padding: 16px 40px;
    }
}