// colors
@use 'colors';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  color: colors.$dark;
}

h1 {
  margin-bottom: 24px;
  font-size: 3rem;
  font-weight: 700;
  line-height: 120%;
}

p {
  line-height: 150%;
}

main {
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
}

.btn {
  padding: 16px 40px;
  color: colors.$white;
  font-size: 1.6rem;
  font-weight: 700;
  background-color: colors.$primary;
  border: none;
  border-radius: 32px;
  cursor: pointer;
  transition: background-color .3s, box-shadow .3s;

  &:hover {
    background-color: colors.$hover;
    box-shadow: 0px 0px 10px colors.$hover;
  }
}

.first-section {
    padding: 80px 40px;
    text-align: center;

    &__box {
      display: flex;
      flex-direction: column;
    }

    &__img {
      width: 100%;
      margin-bottom: 40px;
    }

    &__title {
      width: 100%;
    }

    &__text {
      margin-bottom: 32px;
    }
}

.pop-up {
  display: none;
  z-index: 100;

  &__background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    background-color: colors.$dark;
    opacity: 0.5;
  }

  &__window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 45px;
    width: 80vw;
    min-height: 210px;
    background-color: colors.$white;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .close-btn {
      background: none;
      border: none;
      border-radius: 32px;
      cursor: pointer;
      transition: color 0.3s, background .3s;

      &:hover {
        color: colors.$white;
        background: colors.$hover;
      }

      .fa-times {
        padding: 5px 10px;
        font-size: 2rem;
      }
    }
  }

  &__info {
    font-size: 1.4rem;
    margin-bottom: 20px;
  }

  &__reset-btn {
    background: none;
    color: colors.$primary;
    border: 1px solid colors.$primary;
    transition: color .3s, background .3s, border .3s;

    &:hover {
      color: colors.$hover;
      background: colors.$primary;
      border: 1px solid colors.$hover;
    }
  }

}
