@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Georgia, Times, "Times New Roman", serif;
}
button:focus {
  outline: rgb(93, 93, 202) auto 5px;
}

// Variables - START

$accentColor: #e4c1ae;
$primaryColorWhite: #fff;
$borderRadiusBtn: 32px;
// Breakpoints

$mobileSize: 320px;
$tabletSize: 768px;
$desktopSize: 1440px;

// Variables - END

// Popup - START
.overlay {
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 0;
}
button.disabled {
  pointer-events: none;
}
.pop_up_wrapper {
  background: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.8s;
  backdrop-filter: blur(10px);
  pointer-events: auto;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0%;
  right: 0%;
  z-index: 1;
  .pop_up {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: auto 1rem;
    background-color: $primaryColorWhite;
    padding: 1rem 2rem;
    .close_btn_wrapper {
      display: flex;
      justify-content: flex-end;
      color: black;
      .close_pop_up_btn {
        background: transparent;
        border: none;
        font-size: 1.5rem;
        transition: transform ease-in-out 0.3s;
        padding: 0.5rem 0.5rem 0 0.5rem;
        &:hover {
          transform: scale(1.5);
        }
      }
    }
    .reset_btn_wrapper {
      display: none;
      justify-content: center;
      align-items: center;
      .reset_btn {
        background-color: tomato;
        color: $primaryColorWhite;
        border: tomato;
        padding: 1rem 2rem;
        border-radius: $borderRadiusBtn;
        transition: transform ease-in-out 0.3s;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
// Popup animation - START
.fade {
  animation: fadeIn ease 0.8s;
  clear: both;
}
.fade_out {
  animation: fadeOut ease 0.8s;
  clear: both;
}

.hidden {
  display: none;
  pointer-events: none;
}
// Popup animation - END
// Popup - END

.content_wrapper {
  max-width: $desktopSize;
  margin: 1rem 1rem;
  img {
    width: 100%;
    height: auto;
  }
  .content_text {
    margin-top: 1rem;
    p {
      margin: 1rem 0;
    }
    .content_pop_up_btn {
      background-color: $accentColor;
      color: $primaryColorWhite;
      border: $primaryColorWhite;
      padding: 1rem 2rem;
      border-radius: $borderRadiusBtn;
      transition: transform ease-in-out 0.3s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

// Animations - START

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// Animations - END

// Media queries - START

@media (min-width: $desktopSize) {
  .content_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 1rem auto;
    .content_text,
    img {
      max-width: 45%;
    }
    .content_text {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
}

.pop_up {
  width: 60%;
}

// Media queries - END
